* {
    padding: 0;
    margin: 0;
}

body {
    background: #333333;
    color: #EEEEEE;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

input, button {
    margin: 10px;
}

h2 {
    padding: 10px;
    font-size: 175%;
}

.next {
    float: left;
    padding: 0 10px;
    font-size: 175%;
}

#next1 {
    color: #FF4E48;
}

#next2 {
    color: #2581CC;
}

.wrapper {
    position: absolute;
    text-align: center;
    left: 50vw;
    transform: translate(-50%, 0);
}

#durchgang {
    position: absolute;
    top: 10vh;
    font-size: 750%;
    left: 50vw;
    transform: translate(-50%, 0);
}

#gruppeWrapper {
    top: 42.5vh;
}

#zeitWrapper {
    top: 50vh;
}

.gruppe {
    font-size: 300%;
    padding: 0 2vw;
    width: 20vw;
}

.zeit {
    font-size: 200%;
    padding: 0 2vw;
    width: 15vw;
}

#gruppe1 {
    float: left;
    text-align: right;
    color: #FF4E48;
}

#gruppe2 {
    float: left;
    text-align: left;
    color: #2581CC;
}

#zeit1 {
    float: left;
    text-align: right;
}

#zeit2 {
    float: left;
    text-align: left;
}